.ship-piece{
    background-color: mediumpurple;
}

.ship-piece-hited{
    background-color: darkmagenta;
}

.salvo{
    background-color: crimson;
}

.container {
    display: flex;
    justify-content: center;
}

.full-width {
    width: 70%;
}